body {
  /*** Convert these to tailwind theme ***/
  color: #525252;
}

#root {
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

.font-large {
  line-height: calc(var(--spacing) * 7);
  color: #171717;
}
